.homie{
  background-image: url("plaatje.jpg");
  background-size: cover;
  color: black;
  height: 550px;
  width: 100%;
  }

h1{
  font-size: 60px;
  line-height: 150px;
  margin: 0;
  position: relative;
  text-align: left;
  top: auto;
  padding-left: 300px;
  font-family: helvetica;
  }

header {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 358px;
  }

ul {
  text-align: center;
  padding: 10px;
  background: rgba(0,0,0,0.5);
}

li {
      display: inline;
      padding: 0px 70px 0px 70px;
}
li > a {
      color: white;
      text-align: center;
      padding: 10px 100px;
      text-decoration: none;
}
li > a:hover {
      background-color: #111;
}
.dropbtn {
      color: white;
      padding: 10px 100px;
      font-size: 20px;
      border: none;
      cursor: pointer;
}
.dropdown {
      position: relative;
      display: inline-block;
}
.dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
      color: black;
      padding: 10px 112px;
      text-decoration: none;
      display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
      display: block;
}

.dropdown:hover .dropbtn {
      background-color: #111;
}

.posts{
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
  font-family: sans-serif;
}

.utrecht{
  background-image: url("utrecht.jpg");
  background-size: cover;
  height: 500px;
  width: 100%;
  text-align: center;
}

#dom{
  width: 300px;
  height: 400px;
  margin-left: -2px;
  margin-bottom: -2px;
}
#straat{
  width: 400px;
  height: 300px;
  transform: rotate(90deg);
  margin-left: -37px;
  margin-bottom: -2px;
}
#scent{
  width: 618px;
  height: 400px;
}

.design{
  background-image: url("design.jpg");
  background-size: cover;
  height: 500px;
  width: 100%;
  color: white;
  text-align: center;
}

#vaasjes{
  width: 300px;
  margin-left: -2px;
}

#kruk{
  width: 300px;
  margin-left: 12px;
}
#holon{
  width: 620px;
  padding-top:3px;
}

.efteling{
  background-image: url("efteling.jpg");
  background-size: cover;
  height: 500px;
  width: 100%;
  color: white;
  text-align: center;
}
#ingang{
  width: 400px;
  height: 300px;
  transform: rotate(90deg);
  padding-top: 100px;
  margin-left: -2px;
}

#vijver{
  width: 400px;
  height: 300px;
  transform: rotate(90deg);
  margin-left: -137px;
}

#fata-morgana{
  width: 380px;
  height: 260px;
  margin-left: -87px;
}

#watershow{
  width: 618px;
  height: 300px;
  margin-top: 3px;
}

.nijmegen{
  background-image: url("nijmegen.jpg");
  background-size: cover;
  height: 500px;
  width: 100%;
  text-align: center;
}

.ik{
  background-image: url("bel.jpg");
  background-size: cover;
  height: 400px;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 80px;
}

.category{
  border: 2px solid white;
  padding: 7px 25px 7px 25px;
  display: inline-block;
  font-size: 20px;
}

h3{
  font-size: 60px;
  font-family: sans-serif;
  margin-top: 20px;
}
.posts{
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
  font-family: sans-serif;
}

.leuk{
  max-width: 600px;
  padding-top: 10px;
  margin: 0 auto;
  text-align: justify;
  font-family: helvetica;
  color: black;

}

a{
  text-decoration: none;
  color: black;
}

#foto{
  width: 600px;
}

 h4{
   font-size: 20px;
   margin-bottom: -5px;
   text-align: center;
   padding-top: 5px;
 }
 .knop{
   text-align: center;
   padding: 10px;
 }
.button{
  border: 1px solid grey;
  font-family: cambria;
}

footer{
  background-color: #262626;
  padding: 20px;
  color: grey;
  margin-top: 50px;
  padding-left: 100px;
}



/* about us css*
--> fenna category css
--> yathe category css
--> contact css
--> css alle verschillende pagina's
